main#accueil{
    padding-inline: 0;
}
#accueil strong{
    text-decoration: unset;
}
#accueil h3{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    white-space: nowrap;
    font-weight: 400;
    font-size: 21px;
    color: #fca311;
}
#accueil h1{
    font-family: "Chillax-Bold";
    font-size: 80px;
}

#accueil a.btn{
    font-size: 17px;
    padding: 6px;
    letter-spacing: 3px;
}

/* Partie 1 */

#partie_1 {
    height: 80vh;
    margin-top: 3rem;
    background-image: url("../img/outplay.png");
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
#partie_1 .left{
    padding-inline: 10%;
    width: 40%;
}
#partie_1 h1{
    line-height: 1em;
}
#partie_1 h1::after{
    background-color: #fca311;
}
#partie_2 h2::after{
    background-color: white;
}
#partie_1 h1::after, #partie_2 h2::after{
    display: block;
    content: "";
    margin-top: 2rem;
    width: 128px;
    height: 3px;
    border-radius: 25px;
}
#partie_1 p, #partie_2 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 300;
    padding-right: 5rem;
    line-height: 141%;

}
#partie_1 .btn, #partie_2 .btn{
    margin-block: 2rem;
    display: inline-block;
}

/* Partie 2 */
/*partie 2*/

#partie_2 {
    display: flex;
    flex-direction: row;
}

#partie_2>.right{
    margin-top: 3rem;
}

#partie_2>.right>h3 {
    font-size: 21px;
    font-family: 'Montserrat';
    color: #fca311;
    margin-bottom: 30px;
}


#partie_2>.right>h2 {
    font-size: 48px;
    font-family: "chillax-Bold";
}


#partie_2>.right>h4 {
    font-size: 17px;
    font-family: 'Montserrat';
    color: #fca311;
    font-weight: 300;
    padding-block: 30px;
}
#lezz{
    flex: 1;
}
#lezz img{
    width: 100%;
}


.right {
    margin-left: 50px;
    padding: 30px;
    
}


/* Partie 3 */


#partie_3>div>ul>li {
    background-color: #231a0a;
    border: white 6px solid;
    border-radius: 91px;
    padding: 1em;
    box-sizing: content-box;
    font-size: 21px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    flex: 1;

}

#partie_3>div>ul>li svg {
    width: 42px;
    height: 42px;
    fill: white;
}

.picto {
    
    text-align: center;
    width: 346px ;
    height: 38px;
  
}

#partie_3>div>ul {
    display: flex;
    flex-direction: row;
    padding-inline: 2em;
    gap: 6em;
}


#partie_3>div {
    display: flex;
    justify-content: center;

}

#partie_3>div>ul>li>p.missions {
    text-align: center;
    font-family: "chillax-Bold";
    padding-bottom: 0;

}


#partie_3>div>ul>li p {
    text-align: center;
    padding: 20px;
}

.listeAttribut {
    display: flex;
    margin-top: 2em;
    flex: 1;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
}




.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}


.svg {
    fill: #fca311;
    height: 50px;
    width: 50px;
    margin-left: 50px;

}

.info>p {
    color: white;
    font-size: 30px;
}

.photojo {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    object-fit: cover;
}

.tout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}





#bulle {
    background-color: #231a0a;
    border-radius: 38px;
    padding: 80px;
    margin: 50px;
}


#bulle>p {
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', 'Light';
    font-weight: 300;
    padding-bottom: 40px;

}

#nom {
    font-size: 21px;
    font-family: "chillax-Bold";

}

#mail {
    font-size: 14px;
    font-family: 'Montserrat', 'Light-Italic';
    color: #fca311;
}


.info {
    padding-left: 20px;
}




/* Partie 5 */
#partie_5 >div >h3{
    font-size: 55px;
    font-family: "chillax-Bold";
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    letter-spacing: unset;
    white-space: unset;
}

#voirPlus{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    gap: 1em;
    font-family: "Chillax-Variable";
    font-size: 21px;
    color: #fca311;
    transition: color .25s ease-in;
    -webkit-transition: color .25s ease-in;
    -moz-transition: color .25s ease-in;
    -ms-transition: color .25s ease-in;
    -o-transition: color .25s ease-in;
}
#voirPlus:hover{
    background-color: unset;
    color: #FED105;
}

#voirPlus::before, #voirPlus::after{
    content: "";
    width: 50px;
    height: 3px;
    border-radius: 25px;
    background-color: white;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}


#partie_5>.center>h4 {
    font-size: 21px;
    font-family: "chillax-Regular";
    color: white;
}



#partie_5>.center>.btn>a {
    font-size: 24px;
    font-family: "chillax-Regular";


}


#partie_5>.center>.btn {
    padding: 10px 10px 10px 10px;
}



#partie_3>#services>h3{
    text-align: center;
    color: #fca311;
    font-size: 21px;
    font-family: 'Montserrat';
    margin-top: 100px;
}

#partie_3>#services>h2{
    text-align: center;
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}


#partie_3>#services>p{
    text-align: center;
    font-size: 21px;
    font-family: 'Montserrat';
    margin-bottom: 100px;
    margin-top: 25px;
}