@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');


footer {
  padding-top: 5rem ;
  color: #FCA311;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

#logo {
  display: flex;
  flex-direction: row;
justify-content: center;
}

/* #logo img {
  width: 30%;

} */

footer h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 21px;
  font-family: 'Poppins';font-size: 21px;

}

footer ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

footer ul a {
  color: inherit;
  text-decoration: none;
}

footer ul a:hover {
  opacity: 0.8;
}

.row {
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
justify-content: center;
}

.texte {
  color: white;
  justify-content: center;
  display: flex;
text-align: center;
  font-family: 'Poppins';
  font-size: 21px;
  font-weight: 300;
  padding: 0px;
  opacity: 0.7;
}




.item {
  margin-right: 20px;
  font-weight: 300;
}
footer .item.text p {
  opacity: 0.6;
  margin-bottom: 0;

}

footer .item.f_social {
  margin-top: 3rem;
  text-align: center;

}


footer .item.f_social>a {
  font-size: 20px;
  width: 26px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  margin: 0 8px;
  fill: #FCA311;
}






footer .item.f_social>a:hover {
  opacity: 0.9;
}

footer .copyright {
  text-align: center;
  color: white;
  font-family: 'Poppins';font-size: 21px;
  font-size: 14px;
  margin-bottom: 0;
  padding: 80px;
  opacity: 0.6;
}

footer{
  position: relative;
}



.rondFooter{
  position: absolute;
  width: 50vw;
  height: 50px;
  bottom: 0;
  background-color: #FCA311;
  margin-inline: 25%;
  filter: blur(1000px);
  -webkit-filter: blur(100px);
}