html{
    background-color: black;

}

header{
    display: flex;
    justify-content: space-evenly;
    padding-block: 30px;
   position: fixed;
   z-index: 25;
    top: 0;
    left: 0;
    background: black;
    width: 100vw;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#menu-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding-left: 0px;
    padding-right: 0px;
}

header li{
    display: flex;
    margin-inline: 45px;
    justify-content: center;
    font-size: 24px;
}


header a:hover{
    color: #fca311;
    background-color: unset;
    
}

header a:after {
    content: '';
    display: block;
    bottom: 1.5px;
    width: 0%;
    left: 0px;
    height: 4px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: #fca311;
    border-radius: 50px;
}

header a:hover:after {
    width: 100%;
  }


#logo{
    display: flex;
    align-items: center;
}

header img{
width: 220px;
height: auto;
display: flex;
}


@media all and (max-width: 1066px) {

    .header{
        padding: 30px 30px 30px 30px;
     }
    
}

@media all and (max-width: 891px){

    #menu-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        padding-left: 0px;
        padding-right: 0px;
    }

    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    #logo{
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    
}
    
