
#equipeContainer {
    margin-left: 120px;
    width: 90%;
    padding-inline: 0%;
}


/* #equipeContainer>h2 {
    font-size: 45px;
    margin-left: 120px;
    
    font-weight: 500;
    margin-bottom: 80px;

} */

#equipeContainer>h1 {
    font-size: 96px;
    text-align: center;
    margin-bottom: 100px;
}

.nom{
    text-align: center;
    
}



#equipeContainer p.nom{
    font-size: 36px;
}


#equipeContainer>ul {
    font-size: 45px;
    gap: 4rem;
    font-weight: 300;
    display: flex;
}
#equipeContainer >ul li{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
#equipeContainer >ul li>p{
    font-size: 24px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

#equipeContainer ul li img {
    width: 100%;
    aspect-ratio: 6/5;
    padding: 20px;




    object-fit: cover;
    /* margin: 50px; */
    border-radius: 16%;
}
